{% extends "mastermind/base.html" %}
{% block title %}{{ game.title }}{% endblock %}
{% block content %}
<h1>{{ game.title }}</h1>

<form method="post">{% csrf_token %}

<p><input type="submit" value="Gem ændringer" /></p>

<h2>Indgange</h2>

<table>
<thead>
<tr>
<th>Position</th>
<th>Navn</th>
<th>Korrekt svar</th>
</tr>
</thead>
<tbody>
{% for slot in form.slots %}
<tr><td>{{ slot.position }}{{ slot.position.errors }}</td>
<td>{{ slot.stem }}{{ slot.stem.errors }}</td>
<td>{{ slot.key }}{{ slot.key.errors }}</td></tr>
{% endfor %}
</tbody>
</table>

<p>Tilføj indgange, én pr. linje:</p>
{{ form.new_slots }}{{ form.new_slots.errors }}

<h2>Svarmuligheder</h2>

<table>
<thead>
<tr>
<th>Svar</th>
<th>Alias af</th>
</tr>
</thead>
<tbody>
{% for option in form.game_options %}
<tr>
<td>{{ option.text }}</td>
<td>{{ option.alias_target }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<p>Tilføj svarmuligheder, én pr. linje:</p>
{{ form.new_options }}{{ form.new_options.errors }}

</form>
{% endblock %}
